:root {
  --color-green: #55efc4;
  --color-yellow: #ffeaa7;
  --color-red: #fab1a0;
  --color-grey: #212529;
  --color-white: #fff;
}

body {
  transition: 0.3s background-color ease-in-out;
  font-family: "Press Start 2P", cursive;
}

.move {
  border: 3px solid var(--color-grey);
  border-radius: 999px;
  height: 7rem;
  width: 7rem;
}

.result {
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  transition: 0.3s background-color ease-in-out;
}

.stats {
  background-color: var(--color-white);
}

.move:not(.move-c):hover,
.move:not(.move-c):active {
  cursor: pointer;
}

.move i {
  font-size: 3rem;
}

.versus i {
  font-size: 3rem;
}

@media (max-width: 400px) {
  .move i {
    font-size: 2.5rem;
  }

  .versus i {
    font-size: 2.5rem;
  }

  .move {
    height: 5.8rem;
    width: 5.8rem;
  }
}

@media (max-width: 335px) {
  .move i {
    font-size: 2rem;
  }

  .versus i {
    font-size: 2rem;
  }

  .move {
    height: 4.6rem;
    width: 4.6rem;
  }
}

@media (max-width: 270px) {
  .move i {
    font-size: 1.5rem;
  }

  .versus i {
    font-size: 1.5rem;
  }

  .move {
    height: 3.5rem;
    width: 3.5rem;
  }
}
